body 
{
    background:lightblue;
    font-family: Arial;
}
.assignment
{
    display:flex;
    padding:10px;
    margin:10px;
    background-color: rgb(120,200,255);
}
.assignment img
{
    width:200px;
    padding:10px;
}
h1
{
    color: rgb(200, 0, 0);
    text-align: center;
}